:root {
  --aside-bg-color: #252831;
  --item-selected: #333333;
  --sub-item-selected: #35ada7;
  --bg-sub-item: #414757;
  --border-menu: #59C3C3;
  --color-sub-item: #f5f5f5;
  --white: #ffffff;
  --font-lato: 'Lato', sans-serif;
  --random: #252831
}

* {
  box-sizing: border-box;
  font-family: var(--font-lato);
}

aside::-webkit-scrollbar {
	width: 9px;
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
aside::-webkit-scrollbar-thumb {
  background: var(--random);
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
aside::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
aside::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Para cada componente */
h1 {
  text-align: center;
}

.header {
  background: var(--aside-bg-color);
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-icon {
  margin-left: .7em;
  font-size: 2em;
  color: var(--white);
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar-left {
  width: 250px;
  min-height: 100vh;
  height: 135%;
  background: var(--aside-bg-color);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 350ms;
  overflow-y: auto;
  z-index: 100;
}

.navbar1 {
  left: 0 
}

.navbar2 {
  left: -100%;
}

.sidebar {
  width: 100%;
}

.icon-hide {
  display: none;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
}

.nav-item {
  display: flex;
  color: var(--white);
  text-decoration: none;
  height: 50px;
  margin-top: 1em;
  padding-left: 1.5em;
}

.nav-item:hover {
  border-radius: .5em;
  background-color: var(--item-selected);
  overflow: hidden;
  border-left: 4px solid var(--border-menu);
}

.nav-item div {
  display: flex;
  align-items: center;
}

.nav-item div svg {
  width: 2.5em;
  height: 2.5em;
}

.nav-item div span {
  padding-left: 1em;
}
/* Sub items */
.nav-subItem {
  background: var(--bg-sub-item);
  height: 60px;
  padding-left: 2em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-sub-item);
  font-size: 18px;
}

.nav-subItem svg {
  font-size: 18px;
}

.nav-subItem span {
  font-size: 14px;
}

.nav-subItem:hover {
  background: var(--sub-item-selected);
}