.contenedorModal h1 {
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

.overlay {
  border: 1px solid #004;
}

.Encabezado2 h3 {
  font-size: 1.1em;
  text-align: center;
  margin: 0;
}

.BodyDate {
  margin-left: 0.5em;
}

.buttons-saleTop {
  display: flex;
  justify-content: space-evenly;
}

#buscar2 {
  border-radius: 0.5em;
  outline: none;
  width: 200px;
}

::placeholder {
  color: rgb(184, 184, 184);
  font-size: 0.9em;
}

.customer-data {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0.8em 0 0 0;
}

.barraArriba {
  align-items: center;
  margin: 0 auto;
  height: 10vh;
  width: auto;
  /* position: fixed; */
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.side {
  /* overflow-y: scroll; */
  height: 100vh;
}

.top-bar-title {
  margin-top: 7px;
  text-align: center;
  font-size: 22px;
  margin-left: 100px;
}

.cont1 {
  border-style: groove;
  height: 50px;
  align-items: center;
  padding-bottom: 10px;
}

#buscar {
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  outline: none;
}

#select {
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  padding: 1px;
}

.btn1 {
  align-items: center;
  border: 0;
  position: relative;
  justify-content: center;
  margin-left: 5px;
}

.btn2 {
  align-items: center;
  border: 0;
  margin-left: 5px;
  cursor: pointer;
}

/*Buttons modalSales*/
.btn3 {
  color: black;
}

.btn4 {
  color: black;
  border: none;
  background: none;
}

.btn5 {
  color: black;
}

.btn6 {
  color: black;
}

.btn7 {
  color: black;
}

.btn8 {
  color: black;
}

.btn9 {
  color: black;
}

.metodo {
  display: flex;
  justify-content: space-evenly;
}

.select3 {
  margin-left: 10px;
}

.lab4 {
  font-weight: bold;
}

.descu {
  margin-left: 10px;
  border: solid 1px #bdc7d8;
}

.lab7 {
  margin-left: 9vh;
}

.dev {
  margin-left: 85vh;
  color: black;
}

/*Tabla producto*/
/* .table {
	margin-left: 45vh;
	margin-top: 5px;
} */

.table {
  margin-bottom: 0.5rem;
}

.tablePro {
  border: solid 1px #bdc7d8;
  width: 99%;
}

.table-total {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.table-total label {
  font-weight: bold;
  font-size: 1em;
}

.table-input {
  width: 75px;
}

.buttons-bottom {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.buttons-bottom button {
  border: none;
  background: none;
}

/*Boton para agregar nuevo en los top bars*/
.btn4m {
  background-color: lightseagreen;
  border-color: lightseagreen;
  margin: 12px;
  padding: 5px;
  border-radius: 10px;
}

.pres-tip {
  display: flex;
  gap: 16px;

  justify-content: center;
  align-items: center;
}
