/* td {
  font-size: .8em;
}

.icon-table {
  font-size: 1.8em;
  margin-right: .3em;
}
table {
  margin-left: 0;
}

thead {
  background: white;
} */

.wrapper-exterior {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: fit-content;
  max-height: fit-content;
}
.table-wrapper {
  overflow-y: scroll;
  overflow-x: scroll;
  height: fit-content;
  max-height: 66vh;
  margin-top: 22px;
  margin: 15px;
  padding-bottom: 20px;
}

/* table {
  min-width: max-content;
}

table th{
  position: sticky; 
  top: 0px; 
  background-color: #ccc;
  color: black;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  outline: 0.7px solid black;
  border: 1.5px solid black;

} 

table th, table td {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

table td {
  text-align: left;
  font-size: 15px;
  padding-left: 20px;
} */