
.icon-table {
  font-size: 1.8em;
  margin-right: .3em;
}

.btn-borrar {
  border-color: transparent;
  background-color: transparent;
}

.btn-update-table {
  margin: 12px;
  padding: 8px;
  border-radius: 10px;
  color: white;
  background-color: #5bb55a;
  border: transparent;
}